<% @id = "page-home" %>
<% @title = "Анкета для школы разработки интерфейсов" %>

<h4 class="ib">ФИО</h4>
<h4 class="subheader ib">Соловьёв Евгений Евгеньевич</h4>
<p>Анкета для школы разработки интерфейсов</p>
<div id="form">
  <div class="row">
    <div class="six columns">
      <dl>
        <dt class="strong">Телефон</dt>
        <dd><a href="skype:+791698060?call">+7 (916) 938-03-60</a></dd>
      </dl>
      <dl>
        <dt class="strong">Год рождения</dt>
        <dd>07.01.1989</dd>
      </dl>
      <dl>
        <dt class="strong">Город, в котором живу</dt>
        <dd>Дзержинский, Московская область</dd>
      </dl>
    </div>
    <div class="six columns">
      <img src="/images/me.jpg" />
    </div>
  </div>
  <div>
    <dl class="clearfix">
      <dt class="strong ib">Вуз</dt>
      <dd class="fr"><a href="http://miem.hse.ru/">Московский Институт Электроники и Математики</a></dd>
    </dl>
    <dl class="clearfix">
      <dt class="strong ib">Факультет</dt>
      <dd class="fr">Информационных технологий и вычислительной техники</dd>
    </dl>
    <dl class="clearfix">
      <dt class="strong ib">Специальность</dt>
      <dd class="fr">САПР (230104)</dd>
    </dl>
    <dl>
      <dt class="strong">Кафедра</dt>
      <dd>Кафедра Информационные технологии и автоматизированные системы</dd>
    </dl>
    <dl>
      <dt class="strong">Год окончания вуза</dt>
      <dd>В 2012 отчислился из института с бюджетного места (закончил 3 курса)</dd>
    </dl>
  </div>
  <div>
    <dl>
      <dt class="strong">На каком уровне владеете английским языком?</dt>
      <dd>Информацию на слух воспринимаю плохо, хотя стараюсь слушать курсы на <a href="http://coursera.org">coursera.org</a>. Письменный текст понимаю хорошо.</dd>
    </dl>
    <dl>
      <dt class="strong">Чего вы ожидаете от участия в Школе?</dt>
      <dd>Разобраться наконец с БЭМ. Начать его активно использовать в своих проектах. По возможности поработать на Яндекс.</dd>
    </dl>
    <dl>
      <dt class="strong">Откуда вы о нас узнали?</dt>
      <dd>Записался на я.субботник по БЭМ. Увидел информацию и о школе.</dd>
    </dl>
    <dl>
      <dt class="strong">Сколько времени вы были бы готовы уделять стажировке или работе в Яндексе?</dt>
      <dd>8 часов в день, 5 дней в неделю.</dd>
    </dl>
  </div>
  <div>
    <dl>
      <dt class="strong">Расскажите нам о вашем опыте разработки. Ничего не упускайте: это может быть как серьезный интерфейс, так и просто домашняя страничка.</dt>
      <dd>Начал увлекаться веб разработкой и версткой где-то в 2001 году, когда учился. Активно же начал фрилансить изучать новые технологии только 3 года назад.</dd>
    </dl>
    <dl>
      <dt class="strong">Какие языки программирования, фреймворки и технологии вы использовали? Сложились ли у вас личные предпочтения?</dt>
      <dd>Совсем немного знаком с с++, php, python. Пытаюсь писать простые задачки на них. Активно учу ruby.</dd>
    </dl>
    <dl>
      <dt class="strong">Приходилось ли вам пользоваться системами контроля версий? Если да, то какими? Какая из них вам нравится больше всего?</dt>
      <dd>SVN через gui, git через консоль.</dd>
    </dl>
  </div>
  <div>
    <dl>
      <dt class="strong">Какие редакторы и среды разработки вы использовали? Чем обычно пользуетесь?</dt>
      <dd>
        Верстка: Dreamweaver, Notepad++, Textmate, Coda.
        <br/>
        Программирование: Visual studio, qt creatror, xcode.
        <br/>
        Сейчас перешел на subime text. Стараюсь перейти на vim.
        <br/>
        Для разработки интерфейсов пробовал cacoo, axure, fireworks. Остановил выбор на последнем.
      </dd>
    </dl>
    <dl>
      <dt class="strong">С какими ОС приходилось сталкиваться? Для каких целей вы их использовали?</dt>
      <dd>
        Windows: fireworks, верстка. Не хватает нормальной консоли. Возникают проблемы при работе с python, ruby, node.
        <br/>
        Ubuntu/Xubuntu/Debian/Mandriva/ASP linux/Fedora: хороши для всего, только нет Fireworks, Photoshop и Coda.
        <br/>
        Раньше пользовался OS X. Остался очень доволен.
      </dd>
    </dl>
  </div>
  <div>
    <dl>
      <dt class="strong">Использовали ли вы системы постановки и ведения задач?</dt>
      <dd><a href="http://planfix.ru/">planfix.ru</a>, <a href="http://asana.com/">asana.com</a>, <a href="http://docs.google.com/">google docs</a></dd>
    </dl>
    <dl>
      <dt class="strong">Какие полезные для фронтенд-разработчика ресурсы вы используете и можете посоветовать?</dt>
      <dd>
        Для вдохновения: <a href="http://dribbble.com/">dribbble.com</a>, <a href="http://css-tricks.com/">css-tricks.com</a>;
        <br/>
        Для поиска решений: <a href="http://stackoverflow.com/">stackoverflow.com</a>;
        <br/>
        Библиотеки/фреймворки: <a href="http://compass-style.org/">compass-style.org</a>,
        <a href="http://scaffy.railsware.com">scaffy</a>, <a href="http://lessframework.com/">lessframework</a>.
      </dd>
    </dl>
    <dl>
      <dt class="strong">Работали ли вы где-нибудь? Какие у вас были должностные обязанности? Есть ли опыт работы в команде? </dt>
      <dd>В фирмах не работал. Заработываю через фри-ланс. Работаю либо один, либо в команде с братом и дизайнером.</dd>
    </dl>
  </div>
</div>
<div id="last-works" class="row">
  <div class="three columns">
    <a href="http://polimerka-ekt.ru/colors/" class="thumbnail"><img src="/images/last-works/ppo.png" /></a>
  </div>
  <div class="three columns">
    <a href="http://kupi-admin.herokuapp.com/system-filters.html" class="thumbnail"><img src="/images/last-works/kupiru-admin.png" /></a>
  </div>
  <div class="three columns">
    <a href="http://aspektr.herokuapp.com/" class="thumbnail"><img src="/images/last-works/aspektrru.png" /></a>
  </div>
  <div class="three columns">
    <a href="http://aspektr.herokuapp.com/admin/lot-details.html" class="thumbnail"><img src="/images/last-works/aspektrru-admin.png" /></a>
  </div>
</div>